mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav {
  width: 240px;
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;
}

mat-sidenav-content {
  min-height: 100vh;
}

main {
  padding: 24px;
}

.active {
  font-weight: 700;
}
